* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: 0;
}
img {
  vertical-align: bottom;
}
input {
  outline: none;
}
button {
  cursor: pointer;
}
li {
  list-style-type: none;
}
body {
  visibility: hidden;
  height: 0;
}
header.admin {
  user-select: none;
}
header.admin > .header {
  height: 60px;
  background-color: #23262e;
}
header.admin > .header > .logo {
  float: left;
  width: 200px;
  height: 60px;
  padding: 0 20px;
}
header.admin > .header > .header-nav {
  float: right;
  height: 60px;
  padding: 0 20px;
  font-size: 0;
}
header.admin > .header > .header-nav > .header-nav-item {
  display: inline-block;
  position: relative;
  height: 60px;
  font: 14px/60px 'system-ui';
  color: #fff;
}
header.admin > .header > .header-nav > .header-nav-item a {
  display: block;
  position: relative;
  height: 60px;
  padding: 0 20px;
  background-color: #23262e;
  color: #ccc;
  transition: all 0.3s;
}
header.admin > .header > .header-nav > .header-nav-item a:hover {
  color: #fff;
}
header.admin > .header > .header-nav > .header-nav-item > .header-nav-item-childnav {
  display: none;
  position: absolute;
  top: 59px;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: #eee;
  text-align: center;
}
.header-nav-item-img {
  width: 40px;
  height: 40px;
  margin: 10px 10px 10px 0;
  border-radius: 50%;
}
.text-avatar {
  display: inline-block;
  display: none;
  background-color: lightseagreen;
  font: 20px/2 'system-ui';
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
.side {
  position: fixed;
  top: 60px;
  bottom: 44px;
  left: 0;
  z-index: 999;
  overflow: auto;
  width: 200px;
  background-color: #393D49;
  color: #fff;
  user-select: none;
}
.side .side-scroll {
  position: relative;
  width: 100%;
  height: 100%;
}
.side .side-scroll .userinfo {
  width: 100%;
  height: 60px;
  font: 12px/60px 'system-ui';
  text-align: center;
}
.side .side-scroll .side-nav {
  width: 100%;
  font-size: 0;
}
.side .side-scroll .side-nav .side-nav-item {
  width: 100%;
  font: 14px/45px 'system-ui';
}
.side .side-scroll .side-nav .side-nav-item a {
  display: block;
  position: relative;
  padding: 0 20px;
  color: #ccc;
  transition: all 0.3s;
}
.side .side-scroll .side-nav .side-nav-item a.selected {
  color: #fff !important;
  background-color: rgba(135, 206, 250, 0.7) !important;
}
.side .side-scroll .side-nav .side-nav-item a.side-nav-item-panel::after {
  content: '';
  position: absolute;
  top: 12.5px;
  right: 12.5px;
  width: 10px;
  height: 10px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  transform: rotateZ(45deg);
  transition: all 0.3s;
}
.side .side-scroll .side-nav .side-nav-item a:hover,
.side .side-scroll .side-nav .side-nav-item a.side-nav-item-panel.active {
  background-color: #4E5465;
  color: #fff;
}
.side .side-scroll .side-nav .side-nav-item a.side-nav-item-panel.active::after {
  top: 17.5px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotateZ(225deg);
}
.side .side-scroll .side-nav .side-nav-item a.side-nav-item-panel.active + dl.side-nav-item-childnav.articleManage,
.side .side-scroll .side-nav .side-nav-item a.side-nav-item-panel.active + dl.side-nav-item-childnav.usercenter {
  height: 135px;
  background-color: #222;
  text-indent: 1em;
}
.side .side-scroll .side-nav .side-nav-item dl.side-nav-item-childnav {
  overflow: hidden;
  height: 0;
  transition: all 0.3s;
}
.body {
  position: fixed;
  top: 60px;
  left: 200px;
  right: 0;
  bottom: 44px;
}
.body > iframe {
  width: 100%;
  height: 100%;
}
footer.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 44px;
  background-color: #eee;
  text-align: center;
  font: 12px/44px 'system-ui';
}
